#Page {
  width: 100%;
  height: 100%;
}

.section {
  flex: 1;
  background: #FFF;
}

.addAdd {
  width: 100%;
  height: 1rem;
  display: flex;
  position: absolute;
  bottom: 0;
  border-top: #ccc solid 0.02rem;
}

.addAdd span {
  height: 1rem;
  text-align: center;
  background: #108ee9;
  color: #FFF;
  line-height: 1rem;
  flex: 1;
}

.addAdd :nth-child(1) {
  background: #FFF;
  color: #000;
}
