.pro_wrap{
    width:49.5%;
    margin:.01rem;
    padding:.2rem;
    background: #fff;
    img{
        width:3.2rem;
        height:3.2rem;
    }
    p{
        width:100%;
        overflow: hidden;
    }
}