.brandetail{
    width: 100%;
    height: 100%;
    .header{
        width: 100%;
        height: 0.9rem;
        text-align: center;
        justify-content: space-between;
    }
    .section{
        font-size: .28rem;
        img{
            opacity: 1;
            width: 100%;
            height: auto;
            transition: all 1s;
        }
        .breadDesc{
            width: 100%;
            line-height: .4rem;
            padding: .4rem;
            background: white;
            text-indent: 2em;
            color: gray;
        }
    }
}