.catego_wrapper{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    .CategoItem_nav{
        height:.64rem;
        width:100%;
        overflow-x: scroll;
        .CategoItem_wrap{
            width:200%;
            display:flex;
        }
        li{
            width:1.5rem;
            line-height: .64rem;
            text-align: center;
            &.active{
                border-bottom:.2rem solid skyblue;
                color:#108ee9;
            }
        }
    }
    .CategoItem_content{
        background: hsl(0, 0%, 93%);
        flex:1;
        overflow-y:hidden;
        padding:.2rem 0;
        .CategoItem_detail{
            height:.6rem;
            line-height:.6rem;
            width:100%;
            text-align: center;
            font-size:.3rem;
            color:#000;
        }
        .CategoItem_sub_title{
            height:.5rem;
            width:100%;
            text-align: center;
            font-size:.28rem;
        }
        .CategoItem_con{
            width:100%;
            display:flex;
            flex-wrap: wrap;
        }
    }
}
.info_box{
    width:100%;
    height:.8rem;
    background: rgba(0,0,0,.8);
    text-align: center;
    line-height: .8rem;
    color:#fff;
    position: absolute;
    bottom:-.8rem;
    margin-bottom:0;
}