.footer {
  width: 100%;
<<<<<<< HEAD
  height: 1rem;
  display: flex;
  align-items: center;
  z-index: 100;
  box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.2);
=======
  height: 0.9rem;
  display: flex;
  align-items: center;
>>>>>>> klf
  background: #FFF;
}

.footer li {
  flex: 1;
  text-align: center;
}

.footer a {
  color: #000;
  -webkit-tap-highlight-color: transparent;
}

.footer i {
  display: block;
  font-size: 0.4rem;
}

.footer .active {
  color: #44a6f3;
}
