.cateGoryBox {
  height: auto;
  margin-top: 0.2rem;
}

.cateGoryBox .cateGoryName {
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  background: #ccc;
}

.cateGoryBox .Name {
  display: flex;
  flex-wrap: wrap;
}

.cateGoryBox .Name a {
  width: 50%;
  height: auto;
  background: white;
  padding: .2rem;
  color: #000;
  position: relative;
}

.cateGoryBox .Name a .goodsItemImg {
  width: 100%;
  min-height: 2rem;
  text-align: center;
  height: auto;
}

.cateGoryBox .Name a .goodsItemImg img {
  width: 50%;
  height: auto;
}

.cateGoryBox .Name a .goodsItemName {
  text-align: center;
  font-size: .28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  padding-bottom: .3rem;
  padding-top: .1rem;
}

.cateGoryBox .Name a .goodsItemPrice {
  text-align: center;
  font-size: .28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: red;
}

.cateGoryBox .categoryMoreGoods {
  width: 50%;
  height: auto;
  background: white;
  padding: .2rem;
  position: relative;
}

.cateGoryBox .categoryMoreGoods div {
  width: 100%;
  text-align: center;
  margin-top: 0.8rem;
}

.cateGoryBox .categoryMoreGoods img {
  padding: .4rem;
  height: 1.4rem;
  width: 1.4rem;
  margin-left: 0.8rem;
}
