.topicItem{
    width: 100%;
    text-align: center;
    background: #fff;
    margin:.2rem 0;
    display: block;
    overflow: hidden;
}
.topicItemTitle{
    padding: .1rem;
    padding-top: .2rem;
    font-size: .3rem;
    line-height: .4rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: .7rem;
}
.topicItemSubtitle{
    padding: .1rem .2rem;
    font-size: .26rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: gray;
    height: .6rem;
}
.topicItemPrice{
    padding: .1rem;
    padding-bottom: .2rem;
    font-size: .28rem;
    text-align: center;
    color: red;
    line-height: .4rem;
    height: .7rem;
}
.guestbook{
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
}
.topic_guestbook_header{
    display: flex;
    padding: .2rem .1rem;
    justify-content: space-between;
}
.topical_guestbook_more{
    width: 100%;
    text-align: center;
    padding: .1rem 0;
}
.comment_list{
    background: #fff;
    padding: 0 .1rem;
}
.comment_list li{
    border-top: 1px solid #aaa;
    padding: 0 .06rem;
}
.comment_list li p{
    display: flex;
    justify-content:space-between;
    padding: .2rem 0;
}
.topicItemIsShow{
    display: none;
    padding: 2rem 0;
}
.topicItemShow{
    width: 95%;
    margin:.2rem auto;
    padding: .2rem;
    text-align: left;
}
.topicItemShow div{
    text-align: left;
    font-size: .3rem;
}