.product_wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.product_swiper {
  width: 100%;
  height: 7rem;
}

.product_swiper img {
  width: 100%;
  height: 100%;
}

.product_servicelist {
  width: 100%;
  height: .8rem;
  background: #f4f4f4;
  display: flex;
  align-items: center;
}

.product_servicelist li {
  flex: 1;
  text-align: center;
  font-size: .24rem;
}

.product_servicelist li span {
  color: #FF0000;
  margin-right: .15rem;
}

.goods_message {
  background: #fff;
  width: 100%;
  height: 2.78rem;
  padding: .4rem;
}

.goods_size {
  height: 1rem;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 .4rem;
  margin: .1rem 0;
}

.goods_size .goods_totle_price {
  color: #FF0000;
  padding: 0 .05rem;
  font-weight: bold;
}

.goods_size .goods_noCon {
  flex: 1;
}

.goods_attribute {
  padding: .4rem;
  background: #fff;
}

.goods_attribute .attribute_title {
  height: .356rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .56rem;
}

.goods_attribute .attribute_title .line {
  width: .516rem;
  height: .01rem;
  background: #2196f3;
  margin: 0 .24rem;
}

.goods_attribute .attribute_item {
  width: 100%;
  background: #dcdfe6;
  margin-top: .1rem;
  display: flex;
  align-items: center;
}

.goods_attribute .attribute_item .attribute_item_name {
  width: 2rem;
  line-height: .8rem;
  text-align: center;
  padding: 0 .05rem;
  color: gray;
}

.goods_attribute .attribute_item .attribute_item_content {
  flex: 1;
  padding: 0 .05rem;
  color: #000;
  overflow: hidden;
}

.attribute_des img {
  width: 100%;
}

.attribute_questions {
  background: #fff;
}

.attribute_questions .attribute_qes_title {
  height: .6rem;
  color: #000000;
  font-size: .32rem;
  line-height: .6rem;
}

.attribute_questions .attribute_qes_title .attribute_mark {
  color: #f00;
  padding: 0 .1rem;
}

.attribute_questions .attribute_qes_anwers {
  color: #808080;
  font-size: .3rem;
}
