.catego_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.catego_wrapper .CategoItem_nav {
  height: .64rem;
  width: 100%;
  background: #fff;
  overflow-x: scroll;
}

.catego_wrapper .CategoItem_nav .CategoItem_wrap {
  width: 200%;
  display: flex;
}

.catego_wrapper .CategoItem_nav li {
  width: 1.5rem;
  line-height: .64rem;
  text-align: center;
}

.catego_wrapper .CategoItem_nav li.active {
  border-bottom: .2rem solid skyblue;
  color: #108ee9;
}

.catego_wrapper .CategoItem_content {
  background: #ededed;
  flex: 1;
  padding: .2rem 0;
  overflow: hidden !important;
}

.catego_wrapper .CategoItem_content .CategoItem_title {
  padding: .2rem 0;
}

.catego_wrapper .CategoItem_content .CategoItem_detail {
  height: .6rem;
  line-height: .6rem;
  width: 100%;
  text-align: center;
  font-size: .3rem;
  color: #000;
}

.catego_wrapper .CategoItem_content .CategoItem_sub_title {
  height: .5rem;
  line-height: .5rem;
  width: 100%;
  text-align: center;
  font-size: .28rem;
}

.catego_wrapper .CategoItem_content .CategoItem_con {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.info_box {
  width: 100%;
  height: .8rem;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: .8rem;
  color: #fff;
  position: absolute;
  bottom: -.8rem;
  margin-bottom: 0;
}
