.page {
  width: 100%;
  height: 100%;
}

.tab {
  width: 100%;
  height: 0.9rem;
  display: flex;
  margin-top: 0.2rem;
  justify-content: space-between;
  background: #FFF;
}

.tab a {
  flex: 1;
  text-align: center;
  color: #000;
  -webkit-tap-highlight-color: transparent;
}

.tab i {
  display: block;
  font-size: 0.4rem;
}

.tab .active {
  color: #44a6f3;
}

.list {
  width: 100%;
  margin-top: 0.6rem;
}

.list h5 {
  text-align: center;
  font-weight: 1000;
}

.img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.2rem;
}

.img p {
  width: 3.7rem;
  height: 2.6rem;
  padding-left: 0.06rem;
}

.img p img {
  width: 3.7rem;
  height: 2.6rem;
}

.list_add {
  width: 100%;
  margin-top: 0.6rem;
}

.list_add h5 {
  text-align: center;
  font-weight: 1000;
}

.newGoodsWrap {
  background: white;
  display: flex;
  flex-wrap: wrap;
}

.newGoodsWrap .newGoodsItem {
  width: 50%;
  height: 4rem;
}

.newGoodsWrap .newGoodsItem img {
  height: 70%;
  width: 100%;
}

.newGoodsWrap .newGoodsItem .newGoodsName {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .3rem;
}

.newGoodsWrap .newGoodsItem .newGoodsPrice {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .3rem;
  color: darkred;
}

.list_egg {
  width: 100%;
  margin-top: 0.6rem;
}

.list_egg h5 {
  text-align: center;
  font-weight: 1000;
}

.newGoodsWrap {
  width: 100%;
  padding: 0 .2rem;
  min-height: 200px;
}

.newGoodsWrap .hotGoodsItem {
  height: 3rem;
  position: relative;
  padding: 0.1rem 0;
  display: flex;
}

.newGoodsWrap .hotGoodsItem img {
  width: auto;
  height: 100%;
}

.newGoodsWrap .hotGoodsItem .hotGoodsInfos {
  flex: 1 1;
  padding: 0.5rem 0;
}

.newGoodsWrap .hotGoodsItem .hotGoodsInfos .hotGoodsName {
  font-size: .32rem;
}

.newGoodsWrap .hotGoodsItem .hotGoodsInfos .hotGoodsInfo {
  color: darkgray;
  font-size: .28rem;
}

.newGoodsWrap .hotGoodsItem .hotGoodsInfos .hotGoodsPrice {
  color: darkred;
  font-size: .3rem;
}
