*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#root{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.section{
    flex: 1;
    overflow:hidden;
}