*{
    margin:0;
    padding:0;
}
.classify_wrap{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    background: #fff;
    .classify_search{
        height:.8rem;
        display: flex;
        justify-content:center;
        align-items: center;
        border-bottom:1px solid #ccc;
        >p{
            width:6.74rem;
            margin:.05rem 0;
            height:.60rem;
            line-height:.60rem;
            background:#ededed;
            border-radius: .1rem; 
            text-align: center;
            color:#666;
            font-size: .28rem;
        }
    }
    .classify_wrapper{
        width:100%;
        flex:1;
        overflow-y: hidden;
        display:flex;
    }
    .classify_left{
        width:2rem;
        border-right:1px solid #ccc;
        text-align: center;
        box-sizing: border-box;
        li{
            line-height:.8rem;
            padding:0 .18rem;
        }
        .active{
            color:#2196f3;
            border-left:2px solid #2196f3;
            background: #fff;
        }
    }
    .classify_right{
        flex:1;
        overflow-y:scroll;
    }
}