.header{
    width:100%;
    height:.9rem;
    line-height: .9rem;
    display:flex;
    >span,>a{
        width:.6rem;
        height:.8rem;
        text-align: center;
    }
    >p{
        flex:1;
        text-align: center;
        font-size:.32rem;
    }
}