.topGoodsBox{
    margin-top: .2rem;
    background: white;
    .topGoodsTitle{
        height: 1rem;
        background: white;
        text-align: center;
        font-size: .3rem;
        line-height: 1rem;
        letter-spacing: .02rem;
        font-weight: bold;
    }
    .topGoodsWrap{
        height: auto;
        padding-bottom: .2rem;
        .slider{
            position: relative;
            display: flex;
            width: 100%;
            height: auto;
            box-sizing: border-box;
            visibility: visible;
            .frame{
                    position: relative;
                    display: block;
                    overflow: hidden;
                    height: auto;
                    margin: 0px;
                    padding: 0px;
                    transform: translate3d(0px, 0px, 0px);
                    box-sizing: border-box;
                        .topGoodsItem{
                            height: 5rem;
                            img{
                                height: 4rem;
                                width: 100%;
                            }
                            .topGoodSubTitle{
                                margin-top: .1rem;
                                height: .4rem;
                                line-height: .4rem;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                font-size: .32rem;
                            }
                            .topGoodPrice{
                                    margin: 0;
                                    padding: 0;
                                    border: 0;
                                    font-size: 100%;
                                    font: inherit;
                                    vertical-align: baseline;
                                    font-weight: normal;
                                    color: darkred;
                            }
                        }
                    }
                }
            }
}
