.goods_standed_btn{
    width:100%;
    height:1rem;
    display:flex;
    button{
        flex:1;
        text-align: center;
        color:#fff;
        border:none;
        &.good_standed_add{
            background: linear-gradient(90deg, #ff9500, #ff5e3a)
        }
        &.good_standed_order{
            background:linear-gradient(90deg, #1d62f0, #19d5fd)
        }
    }
}