#collect{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-weight: normal;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background: white;
    box-shadow: 0 0.04rem 0.08rem 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    div{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    }
    .left{
        width: .6rem;
    }
    .title{
        flex: 1 1;
        font-size: .32rem;
    }
    .right{
        width: .6rem;
    }
}

.touchClear{
    width: 100%;
    height: 2.3rem;
    margin-top: 1.1rem;
    display: flex;
    .test{
        width: 100%;
        display: flex;
        .collectItem{
            width: 30%;
            height: 2.5rem;
            img{
                width: 85%;
                height: 2.1rem;
            }
        }
    }
}

.collectMsg>div:nth-child(1){
    margin-top: 0.6rem;
    font-size: .32rem;
}
.collectMsg>div:nth-child(2){
        color: darkgrey;
}
.collectMsg>div:nth-child(3){
        color: red;
}

.colse{
    width: 1rem;
    height: 2.3rem;
    text-align: center;
    background: red;
    color: #FFF;
    line-height: 2.3rem;
}