*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 0.3rem;
    box-sizing: border-box;
}
#root{
    font-size: 0.4rem;
    background: #eee;
}
input{  
    outline: none;
}
li{
    list-style: none;
}
a {
    color: #000;
    -webkit-tap-highlight-color: transparent;
  }
.loading{
    width: 100%;
    height: 100%;
}