.special{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #fff;
}
.special :nth-child(1){
    margin:0;
}
.topicItem img{
    width: 100%;
    height: 4rem;
}
.topical_detail{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.topical_detail_main{
    width: 100%;
}
.topical_detail_main img{
    width: 100%;
}
.allComment{
    width: 100%;
    height: 100%;
    overflow:scroll;
}
.allComment .allComment_list{
    margin-top:1rem;
}
.topical_comment_write_textarea{
    width: 100%;
    height: 4rem;
    padding: .2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.topical_comment_write_textarea textarea{
    width: 100%;
    flex: 1;
    border:0;
}
.topical_comment_write_btn{
    display: flex;
    justify-content: space-between;
    padding: 0 .2rem;
    position: relative;
}
.topical_comment_write_num{
    display: block;
    width: 100%;
    background: #fff;
    text-align: right;
    padding: .1rem .2rem;
}
.btn_hidden{
    display: none!important;
}
.btn_message{
    position: absolute!important;
    right: .3rem;
}