.special{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #fff;
}
.topicItem{
    width: 100%;
    height: 5.8rem;
    text-align: center;
    background: #fff;
    margin:.2rem 0;
    display: block;
}
.special :nth-child(1){
    margin:0;
}
.topicItem img{
    width: 100%;
    height: 4rem;
}
.topical_detail{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.topical_detail_main{
    width: 100%;
}
.topical_detail_main img{
    width: 100%;
}
.allComment{
    overflow: auto;
}
